.quiz-alternative {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    background-color: #cccccc;
}

.div-alternative {
    padding-left: 5px;
    padding-right: 5px;
}

.box-alternatives {
  width: 100%;
}
